#profileWrapper {
    width: 60%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px #ccc;
    background-color: rgb(245, 249, 253);
}

.title {
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

.label {
    font-weight: bold;
}

.formInput {
    padding-left: 2%;
    padding-top: 12px;
    border-radius: 50%;
}

.formInput input {
    width: 150px;
    height: 20px;
    margin-bottom: 5px;
    font-size: 17px;
}

#selectToggle {
    height: 40px;
}


.updateButton {
    text-align: center;
}

.infoWrapper {
    margin-bottom: 5%;
    margin-left: 5%;
    display: block;
}

.avatar{
    margin-bottom: 5%;
    text-align: center;
}