#panel {
    padding: 0 5%;
}

.panelBtn {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    margin: 30px 0;
}

.approve {
    background-color: green;
}

.decline {
    background-color: red;
}

#message-input {
    height: 80px;
}

#panel label {
    display: block;
    margin-top: 30px;
}

#panel input {
    width: 100%;
    height: 80px;
}