.selectField {
    height: auto;
    width: auto;
    margin-top: 100px;
}

.searchButton {
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(224, 236, 247);
    border-radius: 50%;
}

/* .clearFilterBtn {
    padding-top: 10%;
} */

.clearFilterBtn{
    display: inline-block;
    /* float: right; */
    width: 10%;
    background: black;
    color: #fff;
    border: none;
    padding: 10px 0;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}


.searchButtonBot{
    position:absolute;
    display: inline-block;
    top: 3px;
    left: 10px;
}

.selectFieldContainer {
    width: 70%;
    margin: 0 auto;
    background-color: rgb(224, 236, 247);
    border-radius: 10px;
}